.aboutus {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    


    
  .image {
    width: auto;
    height: 320px;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 2rem;
    padding: 30px;
    background-image: url("/images/bg3.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

    h1 {
    font-weight: 800;
    }

    .text {
        text-align: center;
           color: #fff;

           p {
            font-weight: 600;
            // color: #FFD700;
           }

    }


    // img {
    //   object-fit: cover;
    //   height: 100%;
    // }
  }

  .about-text {
    // max-width: 900px;
    margin: auto;
    // text-align: center;

    h2 {
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 1rem;
      background-color: #FFD700;
      width: max-content;
      padding: 7px;
      border-radius: 3px;
    }

    p {
      font-size: 1rem;
      line-height: 1.7;
      color: #555;
      margin-bottom: 1.5rem;
    }

    strong {
      color: #0DAE64;
    }
  }

  .offer-section {
    padding: 3rem 1rem;
    background-color: #fff;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #222;
      
    }
  
    .offer-list {
      list-style: none;
      max-width: 800px;
    //   margin: 0 auto;
      padding: 0;

      ul {
        padding: 0px;
      }
  
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        color: #444;
        line-height: 1.6;
  
        svg {
          width: 20px;
          height: 20px;
        //   color: #0DAE64;
        }
  
        strong {
          color: #0DAE64;
        }
      }
    }
  }
  

}