@import "../../reponsive.scss";
.profilePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f8fa;
    margin-top:70px;
  
    .details {
      background-color: #fff;
      padding: 30px;
      border-radius: 16px;
    border: 1px solid;
      box-shadow: 0 4px 12px rgba(0,0,0,0.06);

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    
        h1 {
          font-size: 24px;
          font-weight: 400;
          color: #333;
        }
    
        .updateBtn {
          padding: 10px 20px;
          background-color: #0DAE64;
          color: #fff;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          
          &:hover {
            background-color: #1b4f72;
          }
        }
      }
    
      .info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    
        .avatar {
          display: flex;
          align-items: center;
        //   flex-direction: column;
          gap: 10px;
    
          img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 5%;
            border: 2px solid #ddd;
          }
        }
    
        span {
          font-size: 18px;
          color: #555;
    
          b {
            color: #222;
            font-weight: 500;
          }
        }
    
        .logoutBtn {
          margin-top: 20px;
          padding: 7px 20px;
          background-color: #e74c3c;
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          width: fit-content;
          font-weight: 600;
    
          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  
    
    .savedList {
        width: max-content;

        h1 {
            font-size: 22px;
            font-weight: 400;
            // margin: 0;
        }

        p {
            color: #0DAE64;
            font-weight: 500;
        }
    }
   
      
  }
  