.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    h1 {
      font-weight: 300;
    }

    .message {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &:hover {
        transition: all 0.4s ease;
        transform: scale(1.02);
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        // margin-right: 10px;

      }

      span {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // margin-right: 10px;
      }

      p {
        // font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;

      .user{
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

      }
      
      .close{
        cursor: pointer;
      }
    }
    .center{
      height: 350px;
      overflow: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 50%;

        &.own{
          align-self: flex-end;
          text-align: right;
        }

        span {
          font-size: 12px;
          background-color: #f7c14b85;
          padding: 2px;
          border-radius: 5px;
        }
      }
    }
    .bottom{
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea{
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
        outline: none;
      }

      button {
        flex: 1;
        background-color: #f7c14b85;
        height: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }
}
