.advanced-filter {
    max-width: 400px;
    margin: 0 auto;
    height: max-content;
    position: relative;
    // right: 5%;
    // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.322);
    // border: 1px solid grey;
    border-radius: 3px;

    // margin-top: 50px;
  
    .form-label {
      font-weight: 500;
      color: #333;
      margin-bottom: 4px;
    }
  
    .form-control,
    .form-select {
      font-size: 0.95rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      transition: border-color 0.2s ease;
      box-shadow: none;
  
      &:focus {
        border-color: #6792BD;
        box-shadow: none;
      }
    }
  
    h5 {
      font-weight: 600;
      color: #1a2258;
      margin-top: 20px;

    }
  
    button.btn-primary {
      background-color: #6792BD;
      border: none;
      font-weight: 600;
      // padding: 15px;
  
      &:hover {
        background-color: #09643a;
      }
    }
    svg {
      margin-top: 20px;

    }
  }
  