@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


.property-card {
    width: auto;
    // display: flex;
    gap: 20px;
    background: white;
    padding: 15px;
    // margin: 0;
    // padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #0DAE64;
    // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.171);
    // flex-wrap: wrap;
    // margin-bottom: 20px;
    font-family: "Raleway", sans-serif;

  
    .image-section {

      .img_link {
        width:350px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        // gap:7px;
      } 
      

      
        .main-image {
          // width: 80%;
          height: 250px;
          object-fit: cover;
          border-radius: 5px;

        }
      
        .badge.must-see {
          position: absolute;
          top: 10px;
          left: 10px;
          background: #e91e63;
          color: #fff;
          padding: 5px 10px;
          font-size: 12px;
          border-radius: 4px;
          font-weight: bold;
          display: none;
        }
      
        .thumbnail {
            width: 116px;
            height: 60px;
            object-fit: cover;
            border-radius: 4px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: 0.3s;
          
            &:hover {
              border-color: #007bff;
            }
          
            &.active {
              border-color: #007bff;
            }
          }
          
      }
      
  
    .info-section {
    //   flex: 3;
    width: auto;
      display: flex;
    //   align-items: center;
      flex-direction: column;
    //   gap: 10px;
    // background-color: red;
    // margin-left: -90px;
  
      .header {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        gap: 20px;
    // border: 1px solid grey;
        // border-right: 1px solid grey ;

        .left {
            width: 250px;
          h2 {
            padding-top: 10px;
            font-size: 16px;
            font-weight: 700;
            font-family: "Raleway", sans-serif;

          color: #0DAE64;
          margin-bottom: 0px;
          padding-right: 10px;
  
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        .location {
            padding-top: 3px;
            color: #666;
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

    
            img {
                width: 11px;
            }

           

        }
        .description {
            font-size: 14px;
            color: #444;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px;
            background-color: #0078D7;
            color: #fff;
          }

        }
        

        .right {
            width:100%;
          border-left: 1px solid #d9d9d9;
          padding-left: 10px;
          position: relative;

            margin-top: 10px;
            .price {
                font-size: 17px;
                font-weight: 600;
              font-weight: bold;
              color: #0DAE64;
              margin-bottom: 0px !important;
            //   margin-top: -27px;
            }

            p {
                font-weight: 500;
                color: #807d7d;
                font-size: 12px;
            }

            .heart {
                svg {
                    position: absolute;
                    top: 20%;
                    right: 0%;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: #0DAE64;
                }
            }

            .sponsored-badge {
                border: 1px solid #0DAE64;
                border-radius: 5px;
                color: #c31162;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                font-size: 12px;
            }

           
        }

      
       
     
      }

      .new-listing {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0px;
            gap: 10px;
            padding-top: 5px;

            li {
                color: #1a2258;
                background-color: rgb(240, 246, 255);
                font-weight: 600;
                font-size: 9px;
                display: inline-block;
                display: flex;
                align-items: center;
                padding: 3px 8px;
                border-radius: 4px;
                margin-right: 1px;
                position: relative;
                text-transform: uppercase;
                margin-bottom: 2px;    
                gap: 2px;
                
                img {
                    margin-top: -5px;
                }
            }

            .last {
                color: rgb(23, 87, 215);

            }
        }
    }
  
      
  
      .tags {
        display: flex;
        // gap: 10px;
  
        .tag {
          font-size: 12px;
          padding: 4px 8px;
          border-radius: 5px;
  
          &.blue {
            background: #e6f0ff;
            color: #0047b3;
          }
  
          &.gold {
            background: #fff3cd;
            color: #856404;
          }
        }
      }
  
      
  
      .features {
        // display: flex;
        // gap: 15px;
        // font-size: 14px;
        color: #333;

        span {
            display: flex;
            // align-items: center;
            gap: 5px;
            padding: 0px;
            

            p {
                font-size: 15px;
                color: #1a2258;
                font-weight: 600;
              margin-bottom: 5px;

            }
        }
      }
  
      // .actions {
      //   display: flex;
      //   gap: 10px;
      //   // position: relative;
  
      //   .btn {
      //   //   padding: 8px 12px;
      //     border-radius: 5px;
      //   //   font-size: 17px;
      //     border: none;
      //     display: flex;
      //     align-items: center;
      //     gap: 5px;
      //     cursor: pointer;
      //     position: relative;
  
      //     &.call {
      //       background: #0066cc;
      //       color: white;
      //       position: absolute;
      //         top: 156%;
      //         font-size: 10px;
      //         gap: 5px;

      //     }
  
      //     &.whatsapp {
      //       border: 1px solid #25d366;
      //       background-color: white;
      //       color: #25d366 !important;
      //       position: absolute;
      //       top: 62%;
      //       right: 20%;
      //     }

      //     svg {
      //       width: 18px;
      //       height: 18px;
      //     }
      //   }

      //   a {
      //       color: #fff;
      //       text-decoration: none;
      //   }
      // }
    }
  }
  