@import "../../reponsive.scss"; 

html, body, #root {
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width:none;

  }
.layout {
   
    @include lg{
        // max-width: 1170px;
        // background-color: rgb(247, 210, 196);
    }

    @include md{
        max-width: 750px; 
        // background-color: rgb(186, 203, 234);
    }

    @include sm{
        // max-width: 600px;
        padding: 20px;
        // background-color: rgb(230, 200, 200);
    }

    .content {
        // flex: 1;
        // background-color: red;
        // height: calc(100vh - 100px);
    }
   
}