@import "../../reponsive.scss"; 

.layout {
    height: 100vh;
    max-width: 1190px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

    @include lg{
        // max-width: 1170px;
        // background-color: rgb(247, 210, 196);
    }

    @include md{
        max-width: 750px; 
        // background-color: rgb(186, 203, 234);
    }

    @include sm{
        // max-width: 600px;
        padding: 20px;
        // background-color: rgb(230, 200, 200);
    }

    .content {
        // flex: 1;
        // background-color: red;
        height: calc(100vh - 100px);
    }
   
}