@import "../../reponsive.scss";


.navbar {
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: box-shadow 0.3s ease;
    // background-color: red;
    padding: 10px 0px !important;
    // display: none !important;
    border-bottom: 1px solid #eaebf0;
    // box-shadow: 0 4px 16px rgba(11, 17, 52, 0.062);
  }
  
  .navbar.scrolled {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  }
  
  .navbar .holdnav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* border-bottom: 1px solid #1a225833; */
  
  }

  .navbar .holdnav .left {
    display: flex;
    justify-content: space-between;
    // background-color: red;
    width: 60%;
  }
  
  .navbar .logo {
    width: auto;
    display: flex;
    align-items: center;
    /* background-color: red; */
  }

  .navbar .logo img {
    width: 135px;
  }
  
  .navbar .left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar .ul-link {
    display: flex;
    list-style: none;
  }

  .ul-link li .active-link {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #0DAE64;
    transition: 0.3s ease;
  }
  
  
  .logo .link {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: black;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #0DAE64;
    gap: 5px;
  }
  
  .logo .link svg {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    /* margin-right: 10px; */
  }
  
  .navbar .ul-link {
    gap: 0px;
  }
  
  .navbar .ul-link li a {
    font-weight: 600;
    color: #0DAE64;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    height: 33px;
    text-decoration: none;
  }
  
  .navbar .ul-link li a:hover {
    background-color: #F0F6FF;
  }
  
  
  
  .navbar .nav_btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav_btn  .btn_one {
    font-weight: 600;
      color: #fff;
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 14px;
      height: 33px;
      background: #0DAE64;
      border: none;
  }
  
  .nav_btn  .btn_two {
    font-weight: 600;
      color: #0DAE64;
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 14px;
      height: 33px;
      background: transparent;
      border: none;
      cursor: pointer;
  }
  
  .navbar .nav_btn  .btn_two:hover {
    background-color: #F0F6FF;
  }
  