@import "../../reponsive.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.home_hero {
  width: 100%;
  background-color: #FFF8F4;
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0 auto;
  margin-top: 41px;
}


.hero_holder {
  width: 100%;
  height: auto;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 66px;

  animation: backgroundCycle 20s infinite;
  position: relative;
}

@keyframes backgroundCycle {
  0% {
    background-image: linear-gradient(to  right, #1a2258bd 30%, transparent), url('/images/bg.jpg');
  }
  16.66% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg8.jpg');
  }
  33.33% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg13.jpg');
  }
  50% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg14.jpg');
  }
  66.66% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg4.jpg');
  }
  83.33% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg5.jpg');
  }
  100% {
    background-image: linear-gradient(to right, #1a2258bd 30%, transparent), url('/images/bg.jpg');
  }
}




.hero_holder .heading {
  width: 1000px;
  margin: auto;
}
.hero_holder .heading h1 {
  font-weight: 800;
    color: #FFF8F4;
  font-size: 3.5rem;
  padding-top: 50px;
  text-transform: capitalize;
}

.hero_holder .heading h1 span {
  background-color: #0DAE64;
}

.hero_holder .heading p {
  font-size: 24px;
  color: #fff;
  padding-top: 35px;
}

.typewriter {
  font-weight: bold;
  /* color: #ff6725; */
}

.cursor {
  display: inline-block;
  animation: blink 2s infinite;
  /* color: #ff6725; */
}

.typewriter-wrapper {
  color: #fff;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-weight: 800;
  font-size: 4.5rem;
  font-family: 'Raleway', sans-serif; /* or your font */
}

.hidden-word {
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.visible-word {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}



@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.Hcard {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  background-color: #f7f8fa;

}
